<!DOCTYPE html>
{% load static %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>View Job</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'jobs/css/style.css' %}">
    </head>
    <body>
        <div class='wrap'>
            <div class='head'>
                <h1>{{job.title}}</h1>
                <a class='topright' href='/dashboard'>Back</a>
                <a class ='logout' href='/logout'>Logout</a>
            </div>
            <div class='main'>
                <p>{{ job.desc }}</p>
                <p>Location: {{ job.location }}</p>
                <p>Posted By: {{ job.user.name }}</p>
                <p>Posted on: {{job.created_at}} </p>
            </div>
            <a href='/getJob/{{job.id}}' class='addjob'>Add To My Jobs</a>
        </div>
    </body>
</html>